.radio-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color:gray;
    border-radius: 10%;
    /* border: 1px solid #000; */
  }
  
  .radio-icon {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    background-color: transparent;
    /* border: 2px solid #000; */
    cursor: pointer;
  }
  
  .radio-icon.selected::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: lightslategray  ;
  }
  