.btnsq {
    background: #d3cece75;
    margin: 2px;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    width: max-content;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
  }
  
  .span {
    display: inline-block;
    transform: skew(21deg);
  }
  
  .btnsq::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  
  .btnsq:hover {
    color: #fff;
  }
  
  .btnsq:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }